html, body {
    width: 100%;
    height: 100%;
}
body {
    color: #ddd;
    background-color: #000;
    padding-bottom: 40px;
}

.container {
    height: 100%;
}

/*=====================================
NAVBAR
=====================================*/
.navbar, #navbar {
    _min-height: 85px;
}
.navbar-default {
    background-color: #000;
}
/*=====================================
LOG IN FORM
=====================================*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*=====================================
VOTES
=====================================*/
.votes_btn-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.vote-1:hover {
    background-color: #df2400;
}
.vote-2:hover {
    background-color: #e56c00;
}
.vote-3:hover {
    background-color: #e5b400;
}
.vote-4:hover {
    background-color: #cccc00;
}
.vote-5:hover {
    background-color: #80c901;
}
.vote-6:hover {
    background-color: #33b702;
}

.row_vote {
    margin-top: -70px;
}
.img-responsive_vote {
    max-height: 600px;
    margin:0 auto;
}
