html, body {
    height: 100%;
}

body {
    color: #ccc;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #ff8c00;
}

p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #ff8c00;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.alert {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.section-subheading {
    color: #ccc;
}

.home strong {
    color: #ff8c00;
}

.rules p:first-letter {
    font-face: serif;
    font-size: 340%;
    float: left;
    margin: 10px 5px 10px 0px;
    color: #fff;
}

.rules p:after {
    clear: both;
    display: block;
    content: '';
}

.inline-list {
    font-size: 16px;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}