.form-group {
    margin-bottom: 25px;
}

.form-group input,
.form-group textarea,
.form-group select {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #333;
    padding: 20px;
}

.form-group input.form-control {
    height: auto;
}

.form-group textarea.form-control {
    height: 236px;
}

.form-control:focus {
    border-color: #ff8c00;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.form-control::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.order .form-group {
    margin-bottom: 15px;
}

.order .form-group input,
.order .form-group textarea,
.order .form-group select {
    padding: 0.6em;
}