section {
    min-height: 100%;
    padding: 100px 0;
    background-color: #333;
    background-image: url(/img/bg-2018a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color: #fff;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

section .text-danger {
    color: #e74c3c;
}
