.dropzone {
    min-height: 320px;
    margin-bottom: 5em;
}
.dropzone .dz-message {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 15em;
    margin: 0;
    text-align: center;
}

section h3.section-subheading-upload {
    margin-bottom: 2em;
}

.img-delete {
    position: absolute;
    top: -10px;
    right: 0px;
}